<!DOCTYPE html>

<html>
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h2>Hello {{ name }}!</h2>
		<h3>Already inserted users:</h3>
		<ul>
{#			{{ dump(users) }}#}
		{% for user in users %}
			<li>{{  user['user_name'] }}</li>
		{% endfor %}
		</ul>
	</body>
</html>
